<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129087749-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-129087749-1');
  </script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-Ua-Compatible" content="IE=Edge">
  <% if($active == 'top'){ %><style>
  .loadingAnim {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    color: #ffffff;
    transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    background-color: #910000;
  }
  .loadingAnim:before {
    content: " ";
    width: 0%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
    background-color: #ffffff;
  }
  .-is-loaded .loadingAnim {
    transform: translateX(100%);
  }
  .-is-loaded .loadingAnim:before {
    width: 100%;
  }
  .loadingAnim__copy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4em!important;
  }
  @media screen and (max-width: 768px) {
    .loadingAnim__copy {
      font-size: 1.14285714em!important;
    }
  }
  .loadingAnim .mask {
    overflow: hidden;
    display: inline-block;
    position: relative;
  }
  /* .loadingAnim .mask:before {
    content: " ";
    width: 0%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    background-color: #fff;
  }
  .loadingAnim .mask__element {
    white-space: nowrap;
    display: inline-block;
    transform: translateX(-100%);
    transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.235s;
  } */
  .-is-ready .loadingAnim .mask:before {
    /* left: auto;
    right: 0; */
    animation: maskmove 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s 1 normal;
  }
  .-is-ready .loadingAnim .mask__element {
    /* display: inherit;
    transform: translateX(0%); */
  }
</style><% } %>
  <meta name="viewport" content="width=device-width, user-scalable=yes">
  <title><%- $meta.title %></title>
  <meta name="keywords" content="<%- $meta.keywords %>">
  <meta name="description" content="<%- $meta.description %>">
  <meta property="og:title" content="<%- $meta.og.title %>">
  <meta property="og:site_name" content="<%- $meta.og.sitename %>">
  <meta property="og:description" content="<%- $meta.og.description %>">
  <meta property="og:type" content="<%- $meta.og.type %>">
  <meta property="og:image" content="<%- $meta.og.image %>">
  <meta property="og:image:width" content="1200" /> 
  <meta property="og:image:height" content="630" />
  <meta property="og:url" content="<%- $meta.og.url %>">
  <meta property="og:locale" content="ja_JP">
  <meta property="fb:app_id" content="2184201708535530">
  <meta name="twitter:card" content="summary">
  <!-- <meta name="twitter:site" content="@flickr" > -->
  <% if( $active == 'thank' ){ %><meta name="robots" content="noindex,nofollow"><% } %>
  <meta name="twitter:title" content="<%- $meta.twitter.title %>">
  <meta name="twitter:description" content="<%- $meta.twitter.description %>">
  <link rel="shortcut icon" href="assets/img/favicon.png"> 
  <link rel="apple-touch-icon" href="assets/img/favicon.png" sizes="144x144">
  <link rel="icon" href="assets/img/favicon.png" sizes="144x144">
</head>