<% 
	include( '_include/_function.ejs' );
	$path = './';
	$active = 'top';
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body id="pageTop" class="top">
	<%- include( '_include/_loadingAnim.ejs' ); %>
	<%- include( '_include/header.ejs' ); %>
	<section class="mv">
		<h2 class="mv__copy wrap">
			価値あるリユースで、<br class="-only-sp">経済の循環を。
		</h2>
		<div class="mv__imgs">
			<div><img src="<%- $path %>../img/mv-1.jpg" srcset="/assets/img/_sp/mv-1.jpg 480w, /assets/img/mv-1.jpg" alt=""></div>
			<div><img src="<%- $path %>../img/mv-2.jpg" srcset="/assets/img/_sp/mv-2.jpg 480w, /assets/img/mv-2.jpg" alt=""></div>
			<div><img src="<%- $path %>../img/mv-3.jpg" srcset="/assets/img/_sp/mv-3.jpg 480w, /assets/img/mv-3.jpg" alt=""></div>
			<div><img src="<%- $path %>../img/mv-4.jpg" srcset="/assets/img/_sp/mv-4.jpg 480w, /assets/img/mv-4.jpg" alt=""></div>
			<div><img src="<%- $path %>../img/mv-5.jpg" srcset="/assets/img/_sp/mv-5.jpg 480w, /assets/img/mv-5.jpg" alt=""></div>
		</div>
		<div class="scrollBottom">
			<span class="scrollBottom__text">SCROLL</span>
			<i class="scrollBottom__line"></i>
		</div>
	</section>
	<main>
		<!-- ***** about -->
		<section id="about" class="section section--catetory section--about">
			<header class="section__index ">
				<span class="mask"><span class="mask__element">ABOUT</span></span>
			</header>
			<div>
				<section class="section__mv">
					<div class="mask">
						<figure class="section__mv__img mask__element">
							<img src="<%- $path %>../img/about-img.jpg" srcset="/assets/img/_sp/about-img.jpg 468w, /assets/img/about-img.jpg" alt="">
						</figure>
					</div>
					<section class="section__mv__text">
						<h3 class="section__mv__text__index">
							<span class="mask">
								<span class="mask__element">
									価値あるモノが継承されていく、<br>
									リユースが身近な社会を。
								</span>
							</span>
						</h3>
						<div class="section__mv__text__content">
							<span class="mask">
								<span class="mask__element">
									<strong>
										これだけモノに溢れた現代において、<br>
										本物の価値に出会うことは幸せなことだと思う。<br>
										この上質なモノの価値や佇まいを、次の人へ伝え、継承していく。<br>
										そして、バトンパスによって、ストーリーは続いていく。<br>
										私たちが目指すのは、上質なモノが身近にある循環型の社会。<br>
										確かな価値との新しい出会い、リユースでつないでいく未来。<br>
										そんなストーリーのサイクルを、人の手で受け継がれる日常を。
									</strong>
								</span>
							</span>
						</div>
					</section>
				</section>
			</div>
			<div class="section__content">
				<!-- *** minds -->
				<section class="minds">
					<div class="wrap">
						<section class="mind mind--main ">
							<h2 class="mind__index ">
								自分にも、家族にも、誇れる会社を。
							</h2>
							<div class="mind__content ">								
								多様な働き方がある現代において、仕事は自己実現の手段にもなってきています。<br>
								自分の仕事・働く会社について、友人や家族、そして我が子に胸を張って語れるだろうか？<br>
								ひとりの専門家として、ひとりの社会人として、この世の中に貢献していく。<br>
								私たちに関わるすべての人に、堂々と誇れる会社を、それが私たちの目指す姿です。									
							</div>
						</section>
						<section class="mind mind--sub">
							<header class="mind__index ">
								VISION
							</header>
							<div class="mind__content ">
								価値あるモノが継承される循環型の社会。
							</div>
						</section>
						<section class="mind mind--sub">
							<header class="mind__index ">
								MISSION
							</header>
							<div class="mind__content ">
								リユースをより身近に、イメージの一新を。
							</div>
						</section>
						<section class="mind mind--sub">
							<header class="mind__index ">
								VALUE
							</header>
							<div class="mind__content ">
								本物との出会いを、お客様の日常に。
							</div>
						</section>
					</div>
				</section>
				<!-- /// -->
				<!-- *** message -->
				<section class="message">
					<section class="message__main">
						<div class="wrap">
							<section class="message__text">
								<header class="message__text__index ">
									<span class="mask"><span class="mask__element">MESSAGE</span></span>
								</header>
								<div class="message__text__content ">
									<p>
										<span class="mask">
											<span class="mask__element">
												貴金属やブランド品など、価値あるモノは我々の生活に豊かさを与えてくれます。それを手にする方法としてリユースがあります。しかし、不要になった物を売り、買うというサイクルにまだまだ抵抗を感じる人がいるのも事実です。リユースは、物が持つストーリーを継承し、世の中を循環させてくものだと考えています。
												リユースのネガティブな印象を一新していき、価値ある物がより多くの人に届くよう、我々はリユースのある日常づくりを目指しています。そして、リユースによる日本の経済の循環と、みなさまの生活に豊かさを提供できることを願っています。
											</span>
										</span>
									</p>
									<p class="message__name">
										<span class="mask">
											<span class="mask__element">
												<span class="message__text__div">株式会社水野　代表取締役</span><br>
												<strong class="message__text__name">水野 政行</strong>
											</span>
										</span>
										<span class="message__name__sign"><span class="mask"><span class="mask__element"><i class="message__name__sign__text"></i></span></span></span>
									</p>
									<p class="message__profile">
										<span class="mask">
											<span class="mask__element">
												1975年1月生まれ。北海道出身。大卒 建築工学科卒業。1997年、大学卒業後にハウスメーカーに就職し、二級建築士の資格取得。2004年1月、世界一周旅行を経験。2009年9月、株式会社 水野 代表取締役を務め、「全国チェーン店
												おたからや」をはじめとしたリユース事業を全国に展開している。
											</span>
										</span>
									</p>
								</div>
							</section>
							<div class="message__img ">
								<span class="mask"><span class="mask__element"><img src="<%- $path %>../img/about-message-img.jpg" alt=""></span></span>
							</div>
						</div>
					</section>
					<!-- * 売上推移 -->
					<section class="chart">
						<div class="wrap">
							<h3 class="chart__index">
								<span>売り上げの過去遷移</span>
							</h3>
							<figure>
								<img src="<%- $path %>../img/about-sell-chart.png" alt="">
							</figure>
						</div>
					</section>
					<!-- /// -->
					<!-- * 遠隔 -->
					<section class="history">
						<div class="wrap">
							<h3 class="history__index">
								<span>沿革</span>
							</h3>
							<ul class="history__list">
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2008年9月
										</div>
										<div class="history__list__event__text">
											全国チェーン店　おたからや　FC契約を結びおたからやFC一号店となる梅田店を開業<br>
											ヤフーオークション出店
										</div>
									</div>
									<div class="history__list__event__images">
										<figure class="history__list__event__image">
											<img src="<%- $path %>../img/about-history-2008.jpg" alt="">
										</figure>
										<figure class="history__list__event__image">
											<img src="<%- $path %>../img/about-history-2008-2.jpg" alt="">
										</figure>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2009年7月
										</div>
										<div class="history__list__event__text">
											株式会社水野　法人設立<br>
											楽天市場 出店
										</div>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2011年
										</div>
										<div class="history__list__event__text">
											Amazon 出店
										</div>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2012年
										</div>
										<div class="history__list__event__text">
											アメリカオークションサイトeBay 出店
										</div>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2013年
										</div>
										<div class="history__list__event__text">
											楽天グローバルマーケット、海外販売本格スタート
										</div>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2014年1月
										</div>
										<div class="history__list__event__text">
											大阪北区 三共梅田ビルに移転
										</div>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2014年2月
										</div>
										<div class="history__list__event__text">
											通販向け実店舗［MIDUNOYA］オープン
										</div>
									</div>
									<div class="history__list__event__images">
										<figure class="history__list__event__image">
											<img src="<%- $path %>../img/about-history-2014.jpg" alt="">
										</figure>
										<figure class="history__list__event__image">
											<img src="<%- $path %>../img/about-history-2014-2.jpg" alt="">
										</figure>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2015年1月
										</div>
										<div class="history__list__event__text">
											おたからや心斎橋店 出店
										</div>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2015年7月
										</div>
										<div class="history__list__event__text">
											Reebonz、タオバオへの出店
										</div>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2016年6月
										</div>
										<div class="history__list__event__text">
											年商4億5千5百万円達成
										</div>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2017年4月
										</div>
										<div class="history__list__event__text">
											Yahooショッピング出店
										</div>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2017年6月
										</div>
										<div class="history__list__event__text">
											年商5億2千万円達成
										</div>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2017年11月
										</div>
										<div class="history__list__event__text">
											東京初出店で「おたからや上野御徒町店」出店
										</div>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2018年6月
										</div>
										<div class="history__list__event__text">
											年商7億4700万円達成
										</div>
									</div>
								</li>
								<li class="history__list__event">
									<div class="history__list__event__then">
										<div class="history__list__event__date">
											2018年10月
										</div>
										<div class="history__list__event__text">
											東京銀座に「おたからや６銀座店」出店
										</div>
									</div>
									<div class="history__list__event__images">
										<figure class="history__list__event__image">
											<img src="<%- $path %>../img/about-history-2018.jpg" alt="">
										</figure>
										<figure class="history__list__event__image">
											<img src="<%- $path %>../img/about-history-2018-2.jpg" alt="">
										</figure>
									</div>
								</li>
							</ul>
						</div>
					</section>
					<!-- / -->
				</section>
				<!-- /// -->
			</div>
		</section>
		<!-- ///// -->
		<!-- ***** service -->
		<section id="service" class="section section--catetory section--service">
			<header class="section__index ">
				<span class="mask"><span class="mask__element">SERVICE</span></span>
			</header>
			<div class=" mask">
				<section class="section__mv">
					<div class="mask">
						<figure class="section__mv__img mask__element">
							<img src="<%- $path %>../img/service-img.jpg" srcset="/assets/img/_sp/service-img.jpg 468w, /assets/img/service-img.jpg" alt="">
						</figure>
					</div>
					<section class="section__mv__text">
						<h3 class="section__mv__text__index">
							<span class="mask">
								<span class="mask__element">
									「いらない」と「ほしい」を結ぶ。
								</span>
							</span>
						</h3>
						<div class="section__mv__text__content">
							<span class="mask">
								<span class="mask__element">
									<strong>
										web×リアルを融合した買取ビジネスで、<br>
										お客様の需要と供給を結ぶサービスを実現。<br>
										厳選された本物を取り扱い継承していくことで、<br>
										モノの価値や想いをつないでいく。
									</strong>
								</span>
							</span>
						</div>
					</section>
				</section>
			</div>
			<div class="section__content">
				<!-- *** business -->
				<section class="business">
					<div class="inner">
						<section class="business__main businessShowLayout ">
							<div class="businessShowLayout__img">
								<figure>
									<img src="<%- $path %>../img/service-business-img.jpg" alt="">
								</figure>
							</div>
							<div class="businessShowLayout__text">
								<h2 class="businessShowLayout__index">
									買取ビジネス
								</h2>
								<h3 class="businessShowLayout__subindex">
									厳選された本物のリユースをより身近に、<br>次の所有者へ継承していく。
								</h3>
								<div class="businessShowLayout__content">
									買取ビジネスは、貴金属やブランド品、骨董品や硬貨・古銭など、お客様の「不要物」を価値あるものに換えていきます。確かな価値をもつ高価なモノに囲まれたリアル店舗で、お客様の「いらない」と「ほしい」を結んでいきます。
								</div>
							</div>
						</section>
						<section>
							<ul class="business__detail">
								<li class="business__detail__thing ">
									<div class="business__detail__thing__text">
										<h4 class="business__detail__thing__text__index">
											「信頼の証」として、不正品排除を目的とした団体のAACD（日本流通自主管理協会）に加盟。
										</h4>
										<div class="business__detail__thing__text__content">
											<p>
												日本流通自主管理協会（略称AACD）は、並行輸入品市場での“偽造品”や“不正商品”の流通防止と排除を目指して1988年4月に発足した民間団体です。
												私たちは消費者の皆様が安心して買い物ができる確かなブランド品市場を形成するために、関係諸機関・団体及び、関連企業等と連携をとり「協会」独自の商品取り扱い自主基準を定め、監視・管理システムを確立しお客様が安心してお買い物をお楽しみいただける環境作りに努めております。
											</p>
										</div>
									</div>
									<div class="business__detail__thing__image">
										<figure>
											<img src="<%- $path %>../img/service-aacd-img.jpg" alt="">
										</figure>
									</div>
								</li>
								<li class="business__detail__thing ">
									<div class="business__detail__thing__text">
										<h4 class="business__detail__thing__text__index">
											JAPAN TAX FREE SHOP
										</h4>
										<div class="business__detail__thing__text__content">
											<p>
												当店は免税店となっております。外国人旅行者の方は 消費税免除でお買い物をお得に楽しんでいただけます。ぜひ、皆さんご一緒にお立ち寄りください。
											</p>
											<p>
												※パスポートが必要です（コピー不可）合計で￥10,001（税抜）以上のお買い物が対象となります。
											</p>
										</div>
									</div>
									<div class="business__detail__thing__image">
										<figure>
											<img src="<%- $path %>../img/service-taxfree-img.jpg" alt="">
										</figure>
									</div>
								</li>
								<li class="business__detail__thing ">
									<div class="business__detail__thing__text">
										<h4 class="business__detail__thing__text__index">
											おたからや 6 銀座店
										</h4>
										<div class="business__detail__thing__text__content">
											<p>
												2018年10月より、東京都中央区銀座6丁目に「おたからや 6
												銀座店」がオープンしました。高級ブランドのファッションアイテムをはじめ、美術品や骨董品など、高価な物を取り扱っています。銀座という土地にふさわしい、アンティークな空気が漂う上質で居心地の良い空間づくりを目指した店舗となっています。
											</p>
											<p>
												〒104-0061 東京都中央区銀座6丁目4－8　曽根ビル1階
											</p>
											<p><a class="business__detail__thing__text__link" href="https://www.google.co.jp/maps/place/%E3%81%8A%E3%81%9F%E3%81%8B%E3%82%89%E3%82%84%EF%BC%96%E9%8A%80%E5%BA%A7%E5%BA%97/@35.6710166,139.7613868,15z/data=!4m2!3m1!1s0x0:0xb0e071132b3b08da?ved=2ahUKEwi9g-vdw6veAhVFurwKHVw0CusQ_BIwCnoECAsQCw" target="_blank">Google Mapで見る</a></p>
										</div>
									</div>
									<div class="business__detail__thing__image">
										<figure>
											<img src="<%- $path %>../img/service-otakara-img.jpg" alt="">
										</figure>
									</div>
								</li>
							</ul>
						</section>
						<div class="business__movie">
							<div class="business__movie__play">
								<a href=""></a>
							</div>
							<div class="business__movie__img">
								<img src="<%- $path %>../img/service-movie.jpg" alt="">
							</div>
						</div>
						<!-- *** 取り扱いブランド -->
						<section class="business__brands">
							<h3 class="business__brands__index">
								<span>取り扱いブランド</span>
							</h3>
							<p class="business__brands__subindex">
								弊社でお取り扱いしているブランドの一部をご紹介しています。
							</p>
							<div class="business__brands__content">
								<ul class="brands">
									<li class="brands__brandbox">
										<img src="<%- $path %>../img/service-brand-logo-hermes.png" alt="">
									</li>
									<li class="brands__brandbox">
										<img src="<%- $path %>../img/service-brand-logo-lv.png" alt="">
									</li>
									<li class="brands__brandbox">
										<img src="<%- $path %>../img/service-brand-logo-chanel.png" alt="">
									</li>
									<li class="brands__brandbox">
										<img src="<%- $path %>../img/service-brand-logo-gucchi.png" alt="">
									</li>
									<li class="brands__brandbox">
										<img src="<%- $path %>../img/service-brand-logo-prada.png" alt="">
									</li>
									<li class="brands__brandbox">
										<img src="<%- $path %>../img/service-brand-logo-coach.png" alt="">
									</li>
									<li class="brands__brandbox">
										<img src="<%- $path %>../img/service-brand-logo-cartier.png" alt="">
									</li>
									<li class="brands__brandbox">
										<img src="<%- $path %>../img/service-brand-logo-bvlgari.png" alt="">
									</li>
									<li class="brands__brandbox">
										<img src="<%- $path %>../img/service-brand-logo-tiffany.png" alt="">
									</li>
									<li class="brands__brandbox">
										<img src="<%- $path %>../img/service-brand-logo-rolex.png" alt="">
									</li>
									<li class="brands__brandbox">
										<img src="<%- $path %>../img/service-brand-logo-omega.png" alt="">
									</li>
									<li class="brands__brandbox">
										<img src="<%- $path %>../img/service-brand-logo-burberrys.png" alt="">
									</li>
								</ul>
								<div class="brands__imgs">
									<div class="brands__img">
										<img src="<%- $path %>../img/service-brand-img-1.jpg" alt="">
									</div>
									<div class="brands__img">
										<img src="<%- $path %>../img/service-brand-img-2.jpg" alt="">
									</div>
									<div class="brands__img">
										<img src="<%- $path %>../img/service-brand-img-3.jpg" alt="">
									</div>
									<div class="brands__img">
										<img src="<%- $path %>../img/service-brand-img-4.jpg" alt="">
									</div>
									<div class="brands__img">
										<img src="<%- $path %>../img/service-brand-img-5.jpg" alt="">
									</div>
								</div>
							</div>
						</section>
						<!-- //// -->
						<!-- *** 海外向け -->
						<section class="business__oversea">
							<section class="business__main businessShowLayout ">
								<div class="businessShowLayout__img">
									<figure>
										<img src="<%- $path %>../img/service-foreign-img.jpg" alt="">
									</figure>
								</div>
								<div class="businessShowLayout__text">
									<div>
										<h2 class="businessShowLayout__index">
											海外向けネット事業
										</h2>
										<h3 class="businessShowLayout__subindex">
											ITを活用したグローバル展開で、<br>世界中のより多くの方に価値ある物を。
										</h3>
										<div class="businessShowLayout__content">
											ITを駆使することで世界とつながれる。世界中にも「いらない」「ほしい」のニーズがあり、相互を結んでいく事業を展開。世界TOPクラスの厳選されたブランド品を、ITを活用して世界中へ届けていくことで、リユースのグローバル規模へと。
										</div>
									</div>
								</div>

							</section>
							<section>
								<ul class="business__detail">
									<li class="business__detail__thing ">
										<div class="business__detail__thing__text">
											<h4 class="business__detail__thing__text__index">
												ネットEコマースのルイ・ヴィトンの中古品に特化したリユース新専門店「LooV」
											</h4>
											<div class="business__detail__thing__text__content">												
												Louis Vuitton」に特化したリユース店「LooV（ルーヴ）」を、海外ネット向け販売として展開していきます。「LooV」の由来は、『Louis Vuitton＋loop＝輪』Louis
												Vuittonがリサイクルするストア。ネットEコマースを利用して上質なブランドに特化したサービスは、今までにない店舗形態。海外ユーザーをターゲットに上質なブランドを循環させていくことで、より多くの方に浸透できるよう努めています。													
											</div>
										</div>
										<div class="business__detail__thing__image">
											<figure>
												<img src="<%- $path %>../img/service-foreign-loov.jpg" alt="">
											</figure>
										</div>
									</li>
								</ul>
								<div class="business__oversea__imgs">
									<figure><img src="<% $path %>../img/service-foreign-img-1.jpg" alt=""></figure>
									<figure><img src="<% $path %>../img/service-foreign-img-2.jpg" alt=""></figure>
								</div>
							</section>							
						</section>
					</div>
				</section>
				<!-- /// -->
			</div>
		</section>
		<!-- ///// -->
		<!-- ***** company -->
		<section id="company" class="section section--catetory section--company">
			<header class="section__index ">
				<span class="mask"><span class="mask__element">COMPANY</span></span>
			</header>
			<div>
				<section class="section__mv">
					<div class="mask">
						<figure class="section__mv__img mask__element">
							<img src="<%- $path %>../img/company-img.jpg" srcset="/assets/img/_sp/company-img.jpg 468w, /assets/img/company-img.jpg" alt="">
						</figure>
					</div>
				</section>
			</div>
			<div class="section__content">
				<div class="inner">
					<!-- ***会社情報 -->
					<section class="profile company__section">
						<h3 class="company__section__index">
							PROFILE
						</h3>
						<div class="company__section__content">
							<table class="companyInfo">
								<tr>
									<th>
										会社名
									</th>
									<td>株式会社水野</td>
								</tr>
								<tr>
									<th>
										会社名（フリガナ）
									</th>
									<td>カブシキガイシャ ミヅノ</td>
								</tr>
								<tr>
									<th>
										代表取締役
									</th>
									<td>水野 政行</td>
								</tr>
								<tr>
									<th>
										所在地
									</th>
									<td>
										本社：〒530-0027　大阪府大阪市北区堂山町1-5 三共梅田ビル３階<br>
										東京本社：〒104-0061　東京都中央区銀座６丁目４-８ 曽根ビル１階
									</td>
								</tr>
								<tr>
									<th>
										創業
									</th>
									<td>2008年9月1日</td>
								</tr>
								<tr>
									<th>
										設立
									</th>
									<td>2009年7月27日</td>
								</tr>
								<tr>
									<th>
										資本金
									</th>
									<td>1,000万円</td>
								</tr>

								<tr>
									<th>
										売上高
									</th>
									<td>7億4000万円（2018年6月実績）<br>
										5億2000万円（2017年6月実績） <br>
										4億5500万円（2016年6月実績） <br>
										4億800万円（2015年6月実績） <br>
										3憶5000万円（2014年6月実績） <br>
										2億2800万円（2013年6月実績） <br>
										1億6800万円（2012年6月実績）</td>
								</tr>
								<tr>
									<th>
										事業内容
									</th>
									<td>
										■リユース品全般の買取および販売<br>
										■買取専門店おたからやのＦＣ加盟店を4店舗運営※2018年11月現在<br>
										　東京地区：おたからや 6　銀座店、上野 御徒町店<br>
										　関西地区：梅田店、心斎橋店<br>
										■ハイブランド品のネット販売（ルイ・ヴィトン、シャネル、エルメスなど）<br>
									</td>
								</tr>
								<tr>
									<th>
										事業所
									</th>
									<td>
									<a href="#shop-ginza">おたからや 6 銀座店</a>、<a href="#shop-ueno">おたからや 上野御徒町店</a>、<a href="#shop-umeda">おたからや 梅田店</a>、<a href="#shop-shinsaibashi">おたからや 心斎橋店</a>
									</td>
								</tr>
								<tr>
									<th>
										従業員数
									</th>
									<td>22名(内パート・アルバイト含む) <br>※2018年11月現在</td>
								</tr>
								<tr>
									<th>
										加盟団体及び許認可番号
									</th>
									<td>
										AACD（日本流通自主管理会）会員番号 / R-0100 <br>
										古物商許可番号：東京都公安委員会 第306601706935号 <br>
										大阪府公安委員会　第621012100382号 <br>
										特別国際種事業者番号：S-3-13-31346 <br>
										酒販免許：北税務署 北法第299号
									</td>
								</tr>
								<tr>
									<th>
										顧問
									</th>
									<td>
										グローバル法律事務所<br>
										あすかコンサルティング株式会社<br>
										ステラ行政書士事務所<br>
										ゆたか税理士法人
									</td>
								</tr>
								<tr>
									<th>
										取引銀行
									</th>
									<td>
										三井住友銀行<br>
										香川銀行<br>
										近畿大阪銀行<br>
										関西アーバン銀行<br>
										池田泉州銀行
									</td>
								</tr>
								<tr>
									<th>
										主要取引先企業
									</th>
									<td>
										日本マテリアル株式会社<br>
										株式会社ネットジャパン<br>
										株式会社中央宝石研究所<br>
										株式会社GIA JAPAN<br>
										株式会社KOMEHYOオークション<br>
										他
									</td>
								</tr>
							</table>
							<section class="officeMap">
								<div class="officeMap__text">
									<h3 class="officeMap__index">
										東京本社
									</h3>
									<div>
										〒104-0061 <br>
										東京都中央区銀座６丁目４-８ 曽根ビル１階 <br>
										TEL：03-6263-8768 <br>
										FAX：03-6263-8768 <br>
										MAIL：info@miduno.co.jp <br>
										アクセス：地下鉄 銀座駅 C2出口から徒歩 約3分／ＪＲ線 有楽町駅 銀座口から徒歩約4分／ＪＲ線 新橋駅から徒歩 約７分
									</div>
									<div class="officeMap__text__link">
										<a href="https://www.google.co.jp/maps/place/%E3%80%92104-0061+%E6%9D%B1%E4%BA%AC%E9%83%BD%E4%B8%AD%E5%A4%AE%E5%8C%BA%E9%8A%80%E5%BA%A7%EF%BC%96%E4%B8%81%E7%9B%AE%EF%BC%94+%E6%9B%BD%E6%A0%B9%E3%83%93%E3%83%AB%EF%BC%91%E9%9A%8E/@35.6710283,139.7591359,17z/data=!3m1!4b1!4m5!3m4!1s0x60188bef38888fad:0xe438e278e7bbadff!8m2!3d35.6710283!4d139.7613246" target="_blank">Googe Mapで見る</a>
									</div>
								</div>
								<div class="officeMap__map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.2425895704528!2d139.7591359152584!3d35.67102828019667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bef38888fad%3A0xe438e278e7bbadff!2z44CSMTA0LTAwNjEg5p2x5Lqs6YO95Lit5aSu5Yy66YqA5bqn77yW5LiB55uu77yUIOabveagueODk-ODq--8kemajg!5e0!3m2!1sja!2sjp!4v1541388557679"
								 width="560" height="390" frameborder="0" style="border:0" allowfullscreen></iframe></div>
							</section>
							<section class="officeMap">
								<div class="officeMap__text">
									<h3 class="officeMap__index">
										本社
									</h3>
									<div>
										〒530-0027　大阪府大阪市北区堂山町1-5<br>
										三共梅田ビル３階<br>
										TEL：06-6232-8066　<br>
										FAX：06-6232-8099<br>
										MAIL：info@miduno.co.jp<br>
										アクセス：泉の広場Ｍ10出口 徒歩３分／阪急線 梅田駅 徒歩８分／地下鉄御堂筋線 梅田駅 徒歩８分／地下鉄谷町線 東梅田駅 徒歩５分／JR大阪駅 御堂筋口 徒歩１０分
									</div>
									<div class="officeMap__text__link">
										<a href="https://www.google.co.jp/maps/place/%E4%B8%89%E5%85%B1%E6%A2%85%E7%94%B0%E3%83%93%E3%83%AB/@34.7027397,135.5022667,17z/data=!3m1!4b1!4m5!3m4!1s0x6000e6eadb04e641:0x9f11604d62fe08ea!8m2!3d34.7027397!4d135.5044554" target="_blank">Googe Mapで見る</a>
									</div>
								</div>
								<div class="officeMap__map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13120.386983218521!2d135.5044554!3d34.7027397!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9f11604d62fe08ea!2z5LiJ5YWx5qKF55Sw44OT44Or!5e0!3m2!1sja!2sjp!4v1541388634012"
								 width="560" height="390" frameborder="0" style="border:0" allowfullscreen></iframe></iframe></div>
							</section>
						</div>
					</section>
					<!-- ***会社情報 -->
					<section class="shoplist company__section">
						<h3 class="company__section__index">
							SHOPLIST
						</h3>
						<div class="company__section__content">
							<section class="area">
								<h4 class="area__index">
									関東地方
								</h4>
								<div class="area__content">
									<ul class="areas">
										<li class="area__detail" id="shop-ginza">
											<figure class="area__detail__img">
												<img src="<%- $path %>../img/company-shoplist-kanto-ginza.jpg" width="290" alt="">
											</figure>
											<h5 class="area__detail__index">
												おたからや 6 銀座店
											</h5>
											<div class="area__detail__content">
												<p>
													〒104-0061 東京都中央区銀座６丁目４-８ 曽根ビル１階 <br>
													フリーダイヤル：0120-800-110 <br>
													TEL：03-6274-6688　FAX：03-6274-6686 <br>
													MAIL：six-ginzaten@otakaraya.jp
												</p>
												<p>
													【営業時間】<br>
													平日：10時30分〜19時／土日祝：10時30分〜18時／定休日：年中無休(夏季休暇・年末年始除く)
												</p>
												<p>
													【アクセス】<br>
													地下鉄 銀座駅 C2出口から徒歩 約3分／ＪＲ線 有楽町駅 銀座口から徒歩約4分／ＪＲ線 新橋駅から徒歩 約７分
												</p>
												<div class="area__detail__link">
													<a href="https://www.google.co.jp/maps/place/%E3%81%8A%E3%81%9F%E3%81%8B%E3%82%89%E3%82%84%EF%BC%96%E9%8A%80%E5%BA%A7%E5%BA%97/@35.6710166,139.7613868,15z/data=!4m2!3m1!1s0x0:0xb0e071132b3b08da?ved=2ahUKEwi9g-vdw6veAhVFurwKHVw0CusQ_BIwCnoECAsQCw" target="_blank">Google Mapで見る</a>
												</div>
												<p>
													東京都公安委員会 第306601706935号 株式会社　水野<br>
													特別国際種事業者番号：S-5-27-00258　酒販免許：北税務署 北法第299号<br>
													<a href="http://six-ginzaten.otakaraya.net/" target="_blank">http://six-ginzaten.otakaraya.net/</a>
												</p>
											</div>
										</li>
										<li class="area__detail" id="shop-ueno">
											<figure class="area__detail__img">
												<img src="<%- $path %>../img/company-shoplist-kanto-ueno.jpg" width="290" alt="">
											</figure>
											<h5 class="area__detail__index">
												おたからや 上野御徒町店

											</h5>
											<div class="area__detail__content">
												<p>
													〒110-0005 東京都台東区上野5-26-5 日清ビル5階 <br>
													フリーダイヤル：0120-624-777 <br>
													TEL：03-6803-0777　FAX：03-6803-0887 <br>
													MAIL：ueno-okachimachi@otakaraya.jp
												</p>
												<p>
													【営業時間】<br>
													10時〜18時／定休日：年中無休(夏季休暇・年末年始除く)
												</p>
												<p>
													【アクセス】<br>
													JR 御徒町駅より徒歩１分／地下鉄 大江戸線 上野御徒町駅より徒歩１分／地下鉄 日比谷線 仲御徒町駅より徒歩１分／地下鉄 銀座線 上野広小路駅より徒歩１分
												</p>
												<div class="area__detail__link">
													<a href="https://www.google.co.jp/maps/place/%E3%81%8A%E3%81%9F%E3%81%8B%E3%82%89%E3%82%84+%E4%B8%8A%E9%87%8E%E5%BE%A1%E5%BE%92%E7%94%BA%E5%BA%97/@35.7070265,139.7728787,17z/data=!3m1!4b1!4m5!3m4!1s0x60188ea036b7dd25:0x369795c9794342f6!8m2!3d35.7070265!4d139.7750674" target="_blank">Google Mapで見る</a>
												</div>
												<p>
													東京都公安委員会 第306601706935号　株式会社水野 <br>
													特別国際種事業者番号：S-3-13-31346 <br>
													<a href="http://ueno-okachimachi.otakaraya.net/" target="_blank">http://ueno-okachimachi.otakaraya.net/</a>
												</p>
											</div>
										</li>
									</ul>
								</div>
							</section>
							<section class="area">
								<h4 class="area__index">
									関西地方
								</h4>
								<div class="area__content">
									<ul class="areas">
										<li class="area__detail" id="shop-umeda">
											<figure class="area__detail__img">
												<img src="<%- $path %>../img/company-shoplist-kanto-umeda.jpg" width="290" alt="">
											</figure>
											<h5 class="area__detail__index">
												おたからや 梅田店
											</h5>
											<div class="area__detail__content">
												<p>
													〒530-0027　大阪府大阪市北区堂山町1-5 <br>
													三共梅田ビル３階 <br>
													フリーダイヤル：0120-688-802 <br>
													MAIL：umedaten@otakaraya.jp
												</p>
												<p>
													【営業時間】<br>
													9時30分〜18時30分／定休日：年中無休(夏季休暇・年末年始除く)
												</p>
												<p>
													【アクセス】<br>
													泉の広場Ｍ10出口 徒歩３分／阪急線 梅田駅 徒歩８分／地下鉄御堂筋線 梅田駅 徒歩８分／地下鉄谷町線 東梅田駅 徒歩５分／JR大阪駅 御堂筋口    徒歩１０分
												</p>
												<div class="area__detail__link">
													<a href="https://www.google.co.jp/maps/place/%E3%81%8A%E3%81%9F%E3%81%8B%E3%82%89%E3%82%84%E6%A2%85%E7%94%B0%E5%BA%97/@34.7025629,135.5021176,17z/data=!3m1!4b1!4m5!3m4!1s0x6000e6eb062ef543:0x7a1a9480952dbcf3!8m2!3d34.7025629!4d135.5043063" target="_blank">Google Mapで見る</a>
												</div>
												<p>
													大阪府公安委員会　第621012100382号　株式会社 水野 <br>
													特別国際種事業者番号：S-5-27-00258　酒販免許：北税務署 北法第299号 <br>
													<a href="http://umeda.otakaraya.net/" target="_blank">http://umeda.otakaraya.net/</a>
												</p>
											</div>
										</li>
										<li class="area__detail" id="shop-shinsaibashi">
											<figure class="area__detail__img">
												<img src="<%- $path %>../img/company-shoplist-kanto-shinsaibashi.jpg" width="290" alt="">
											</figure>
											<h5 class="area__detail__index">
												おたからや 心斎橋店
											</h5>
											<div class="area__detail__content">
												<p>
													〒542-0083　大阪府大阪市中央区東心斎橋1-10-12　伊藤ビル1F <br>
													フリーダイヤル：0120-770-456 <br>
													MAIL：shinsaibashiten@otakaraya.jp
												</p>
												<p>
													【営業時間】<br>
													10時30分〜18時30分／定休日：水曜日
												</p>
												<p>
													【アクセス】<br>
													地下鉄堺筋線 長堀橋駅 徒歩2分／地下鉄御堂筋線 心斎橋駅 徒歩5分／地下街クリスタ長堀南５番エレベータ出口 徒歩30秒
												</p>
												<div class="area__detail__link">
													<a href="https://www.google.co.jp/maps/place/%E3%81%8A%E3%81%9F%E3%81%8B%E3%82%89%E3%82%84+%E5%BF%83%E6%96%8E%E6%A9%8B%E5%BA%97/@34.674846,135.5024233,17z/data=!3m1!4b1!4m5!3m4!1s0x6000e717b21329af:0x6f545a0088910f00!8m2!3d34.674846!4d135.504612" target="_blank">Google Mapで見る</a>
												</div>
												<p>
													大阪府公安委員会　第621012100382号　株式会社 水野 <br>
													特別国際種事業者番号：S-5-27-00258　酒販免許：北税務署 北法第299号 <br>
													<a href="http://shinsaibashi.otakaraya.net/" target="_blank">http://shinsaibashi.otakaraya.net/</a>
												</p>
											</div>
										</li>
									</ul>
								</div>
							</section>
						</div>
					</section>
				</div>
			</div>
		</section>
		<!-- ///// -->
		<!-- ***** recruit -->
		<section id="recruit" class="section section--catetory section--recruit">
			<header class="section__index ">
				<span class="mask__element">RECRUIT</span>
			</header>
			<div class="section__content">
				<div class="inner">
					<section class="recruitInfo">
						<div class="recruitInfo__text">
							<h3 class="recruitInfo__text__index">
								高い志と、誰かに堂々と誇れる仕事をしたい...水野では一緒に事業を想像していく仲間を募集しております。
							</h3>
							<div class="recruitInfo__text__content">
								時間は誰もが平等です。その時間をどう過ごすか、どんな生き方をしていくか。日々日常のなかにあるしがらみ、本当はこうしたいという願望。そんな社会に対して、仕事でやりがいを求め、自己表現していく会社。自由な発想で様々なことにチャレンジし、海外への展開も視野に入れて次のステージへと切り拓いていく。いま本当に必要とされることに時間を費やし、誰かに誇れる仕事を。我こそはという人、待っています。
							</div>
						</div>
						<div class="recruitInfo__details">
							<section class="recruitInfo__detail">
								<h4 class="recruitInfo__detail__index">
									<span>新卒募集要項</span>
								</h4>
								<div class="recruitInfo__detail__content">
									<%- include('_include/recruit-new.ejs') %>
								</div>
							</section>
							<section class="recruitInfo__detail">
								<h4 class="recruitInfo__detail__index">
									<span>中途募集要項</span>
								</h4>
								<div class="recruitInfo__detail__content">
									<%- include('_include/recruit-career.ejs') %>
								</div>
							</section>
							<section class="recruitInfo__detail">
								<h4 class="recruitInfo__detail__index">
									<span>アルバイト(東京エリア)</span>
								</h4>
								<div class="recruitInfo__detail__content">
									<%- include('_include/recruit-b-kanto.ejs') %>
								</div>
							</section>
							<section class="recruitInfo__detail">
								<h4 class="recruitInfo__detail__index">
									<span>アルバイト(関西エリア)</span>
								</h4>
								<div class="recruitInfo__detail__content">
									<%- include('_include/recruit-b-osaka.ejs') %>
								</div>
							</section>
							<div class="button"><a href="#contact">エントリー</a></div>
						</div>
					</section>
				</div>
			</div>
		</section>
		<!-- ///// -->
		<!-- ***** contact -->
		<section id="contact" class="section section--catetory section--contact">
			<header class="section__index ">
				<span class="mask__element">CONTACT</span>
			</header>
			<div class="section__content">
				<div class="inner">
					<p class="formIntro">
						「*」のついた箇所は記入必須項目です。
					</p>
					<form id="mailformpro" class="formTable" action="form/mailformpro/mailformpro.cgi" method="POST">
						<div class="formTable__row formTable__row--type">
							<dl class="formTable__col">
								<dt class="mfp must">種別</dt>
								<dd class="mfp">
									<ul class="radios">
										<li class="radios__radio">
											<label><input type="radio" name="種別" value="求人関係" checked><i></i>求人関係</label>
										</li>
										<li class="radios__radio">
											<label><input type="radio" name="種別" value="メディア関係"><i></i>メディア関係</label>
										</li>
										<li class="radios__radio">
											<label><input type="radio" name="種別" value="商品について"><i></i>商品について</label>
										</li>
										<li class="radios__radio">
											<label><input type="radio" name="種別" value="その他"><i></i>その他</label>
										</li>
									</ul>
								</dd>
							</dl>
						</div>
						<div class="formTable__row">
							<div class="formTable__col">
								<dl class="formTable__col__row">
									<input type="hidden" name="団体名" value="">
									<dt class="mfp must">団体名（法人名・学校名等）</dt>
									<dd class="mfp">
										<input type="text" name="団体名" placeholder="団体名（法人名・学校名等）" required="required">
									</dd>
								</dl>
								<dl class="formTable__col__row formTable__col__row--name">
									<input type="hidden" name="お名前" data-unjoin="姓+ +名+（+セイ+ +メイ+）" value="">
									<dt class="mfp must">お名前 </dt>
									<dd class="mfp">
										<ul class="inputs">
											<li>
												<input type="text" name="姓" data-kana="セイ" size="15" placeholder="山田" required="required">
											</li>
											<li>
												<input type="text" name="名" data-kana="メイ" size="15" placeholder="太郎" required="required">
											</li>
										</ul>
									</dd>
								</dl>
								<dl class="formTable__col__row">
									<input type="hidden" name="mfp_separator_01" value="\n【メールアドレス】\n">
									<dt class="mfp must">メールアドレス</dt>
									<dd class="mfp"><input type="email" data-type="email" name="email" placeholder="info@miduno.co.jp" required="required"></dd>
								</dl>
								<dl class="formTable__col__row">
									<dt class="mfp must">電話番号</dt>
									<dd class="mfp"><input type="tel" data-type="tel" name="電話番号" placeholder="0662328066（ハイフンなし半角数字）" data-min="9"></dd>
								</dl>
							</div>
							<div class="formTable__col">
								<dl class="formTable__col__row formTable__col__row--message">
									<dt class="mfp must">お問い合わせ内容</dt>
									<dd class="mfp"><textarea name="お問い合わせ" placeholder="ご記入ください" required="required"></textarea></dd>
								</dl>
							</div>
						</div>
						<aside class="formTable__attention">
							<header class="formTable__attention__index">
								個人情報の取扱いについて
							</header>
							<div class="formTable__attention__content">
								お客さまの個人情報はお問い合わせに対する返信の目的でのみ利用し、当社にて適切に管理します。法令などにより開示を求められた場合を除き、お客さまの同意無しに第三者に開示・提供することはありません。
							</div>
						</aside>
						<div class="formTable__button">
							<div class="mfp_buttons buttons">
								<div class="button">
									<button type="submit">確認画面へ</button>
								</div>
								<!-- <div class="button button--undo">
									<button type="reset">リセット</button>
								</div> -->
							</div>
						</div>
					</form>
					<script type="text/javascript" id="mfpjs" src="form/mailformpro/mailformpro.cgi" charset="UTF-8"></script>
				</div>
			</div>
		</section>
		<!-- ///// -->
	</main>
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>